<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to login,ZhuYan</title>
</head>
<body>
    <div id="doLogin">
        <h3>用户登录</h3>
        <form action="/main/doLogin" method="post">
            <p>userId:</p><input type="text" name="user_id" id="userName" required/><br/>
            <p>password:</p><input type="password" name="password" id="password" required/><br/><br/>
            <input type="submit" name="login" value="立即登录"/>
        </form>
    </div>
</body>
</html>