<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <div id="doRegister">
        <h3>用户注册</h3>
        <form action="/main/doRegister" method="post">
            <p>user_name:</p><input type="text" name="userName" id="userName" required/><br/>
            <p>password:</p><input type="password" name="password" id="password" required/><br/>
            <p>age:</p><input type="text" name="age" id="age"/><br/>
            <p>sex:</p><input type="text" name="sex" id="sex" required/><br/>
            <p>phone:</p><input type="text" name="phone" id="phone" required/><br/><br/>
            <input type="submit" name="login" value="立即注册"/>
        </form>
    </div>
</body>
</html>